.app-wrapper {
  padding: 20px;
}

.table .table-cell-amount {
  text-align: right;
}

.table .table-cell-date {
  text-align: right;
}

.spacer {
  height: 24px;
  width: 100%;
}

.table .table-row-failure {
  background: #FFECEC !important;
}

.table .table-row-success {
  background: #ECFFEC !important;
}

.transfers-paginated-table-container {
  min-height: 452px;
}

.deposits-paginated-table-container {
  min-height: 452px;
}

.withdrawals-paginated-table-container {
  min-height: 452px;
}

.table.transfers-table {
  margin-bottom: 15px;
}

.table.deposits-table {
  margin-bottom: 15px;
}

.table.withdrawals-table {
  margin-bottom: 15px;
}

.paginator-container {
  margin-bottom: 24px;
}

.paginator-text {
  display: inline-block;
  line-height: 36px;
  margin-left: 10px;
  margin-right: 10px;
}

.login-container {
  max-width: 500px;
}

.signup-container {
  max-width: 500px;
}

.hr-big-spacing {
  margin-top: 70px;
  margin-bottom: 70px;
}

.hr-medium-spacing {
  margin-top: 50px;
  margin-bottom: 50px;
}

.code-snippet {
  padding: 0;
}
